body {
  font-family: Arial;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

input, button {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

li {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
}
